body{
    
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width:450px;
   
}
div{
    width:100%;
   
    
}
div:nth-of-type(4){
    width:60%;
    height:25px;
}
label{
    width:20%;
    font-weight: bold;
    float:left;
  
}

button{
    background-color: #0b83de;
    width:35%;
    color: white;
    padding: 4px 20px;
    float:right;
}

input[type=text]{
    border: 2px solid #0b83de;
    padding:5px;
    
}
.error{
    color:red;
}
table{
    border-collapse: collapse ;
    width:50%;
}

th{
    color:#ffffff;
    background-color:  #0b83de ;
}
th, td{
    width:25%;
    border:2px solid white;
    padding:10px;
    font-size: 16pt;
  
   
}
tr:nth-child(even){
    background-color: #adc7e6;
}
tr:nth-child(odd){
    background-color: #dae1ec;
}
td:last-child{
    text-align:center;
}